<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="com.lightbend.lagom.internal.logback.ColoredLevel" />

    <appender name="JOURNAL" class="org.gnieh.logback.SystemdJournalAppender" >
        <encoder>
            <pattern>[%level] %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCJOURNAL" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JOURNAL"/>
    </appender>

    <logger name="play" level="INFO" />
    <logger name="application" level="INFO" />

    <root level="INFO">
        <appender-ref ref="ASYNCJOURNAL"/>
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>